In [2]:
from pycaret.regression import setup, compare_models, predict_model, save_model
from sklearn.datasets import fetch_california_housing
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
# Cargamos el dataset de California Housing. 
data = fetch_california_housing(as_frame=True)
df = data.frame

In [4]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [5]:
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

In [6]:
# inicializamos el entorno de PyCaret para un problema de regresión
reg = setup(data=train_df, target='MedHouseVal')

In [7]:
# para entrenar modelos, compararlos y obtener el mejor
best_model = compare_models()
print(best_model)

LGBMRegressor(n_jobs=-1, random_state=1189)

In [9]:
best_model

LGBMRegressor(n_jobs=-1, random_state=1189)

In [8]:
# hacer predicciones sobre los datos de prueba
predictions = predict_model(best_model, data=test_df)
print(predictions.head())

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup   Latitude  \
20046  1.6812      25.0  4.192201   1.022284      1392.0  3.877437  36.060001
3024   2.5313      30.0  5.039383   1.193493      1565.0  2.679795  35.139999
15663  3.4801      52.0  3.977155   1.185877      1310.0  1.360332  37.799999
20484  5.7376      17.0  6.163636   1.020202      1705.0  3.444444  34.279999
9814   3.7250      34.0  5.492990   1.028037      1063.0  2.483645  36.619999

        Longitude  MedHouseVal  prediction_label
20046 -119.010002      0.47700          0.616732
3024  -119.459999      0.45800          0.939236
15663 -122.440002      5.00001          4.816205
20484 -118.720001      2.18600          2.308346
9814  -121.930000      2.78000          2.359973

In [ ]:
## metricas en test
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

y_test = test_df['MedHouseVal']
y_pred = predictions['prediction_label']

print("MSE:", round(mean_squared_error(y_test, y_pred), 4))
print("MAE:", round(mean_absolute_error(y_test, y_pred), 4))
print("R2:", round(r2_score(y_test, y_pred), 4))

MSE: 0.2204
MAE: 0.3147
R2: 0.8318

In [ ]:
# Guardar el modelo entrenado
save_model(best_model, 'best_california_housing_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['MedInc', 'HouseAge', 'AveRooms',
                                              'AveBedrms', 'Population',
                                              'AveOccup', 'Latitude',
                                              'Longitude'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('trained_model', LGBMRegressor(n_jobs=-1, random_state=520))]),
 'best_california_housing_model.pkl')

In [ ]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [ ]:
###### agregamos nans al dataset para ver como se comporta el modelo
import numpy as np

def add_nan_values(df, column_name, num_nans):
    """
    Añade valores NaN a una columna específica de un DataFrame.
    
    :param df: DataFrame al que se le añadirán los NaN
    :param column_name: Nombre de la columna a la que se le añadirán los NaN
    :param num_nans: Número de NaN a añadir
    """
    # sselecccionamos índices aleatorios para añadir NaN
    nan_indices = np.random.choice(df.index, size=num_nans, replace=False)
    df.loc[nan_indices, column_name] = np.nan
    return df

df = add_nan_values(df, 'HouseAge', 50)
df = add_nan_values(df, 'MedInc', 500)
df = add_nan_values(df, 'Latitude', 100)
df = add_nan_values(df, 'Longitude', 1000)

In [ ]:
df.isna().sum() #chequeamos haya agregado correctamente la cantidad de nans.

MedInc          500
HouseAge         50
AveRooms          0
AveBedrms         0
Population        0
AveOccup          0
Latitude        100
Longitude      1000
MedHouseVal       0
dtype: int64

In [ ]:
df_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

# inicializamos el entorno de PyCaret para un problema de regresión
reg = setup(data=df_train, target='MedHouseVal', session_id=42, 
            imputation_type='iterative')


# para entrenar modelos, compararlos y obtener el mejor
best_model = compare_models()
print(best_model)

# hacer predicciones sobre los datos de prueba
predictions = predict_model(best_model, data=df_test)
print(predictions.head())

# metricas en test
y_test = test_df['MedHouseVal']
y_pred = predictions['prediction_label']
print("MSE:", round(mean_squared_error(y_test, y_pred), 4))
print("MAE:", round(mean_absolute_error(y_test, y_pred), 4))
print("R2:", round(r2_score(y_test, y_pred), 4))

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000296 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1785
[LightGBM] [Info] Number of data points in the train set: 11527, number of used features: 7
[LightGBM] [Info] Start training from score 28,544374
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000301 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1587
[LightGBM] [Info] Number of data points in the train set: 11504, number of used features: 7
[LightGBM] [Info] Start training from score 35,643401
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000323 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1586
[LightGBM] [Info] Number of data points in the train set: 11276, number of used features: 7
[LightGBM] [Info] Start training from score 3,871859
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0,000239 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1586
[LightGBM] [Info] Number of data points in the train set: 10997, number of used features: 7
[LightGBM] [Info] Start training from score -119,576051

LGBMRegressor(n_jobs=-1, random_state=42)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup   Latitude  \
20046  1.6812      25.0  4.192201   1.022284      1392.0  3.877437  36.060001
3024   2.5313      30.0  5.039383   1.193493      1565.0  2.679795  35.139999
15663  3.4801      52.0  3.977155   1.185877      1310.0  1.360332  37.799999
20484  5.7376      17.0  6.163636   1.020202      1705.0  3.444444  34.279999
9814   3.7250      34.0  5.492990   1.028037      1063.0  2.483645  36.619999

        Longitude  MedHouseVal  prediction_label
20046 -119.010002      0.47700          0.561588
3024  -119.459999      0.45800          0.954734
15663 -122.440002      5.00001          5.017591
20484 -118.720001      2.18600          2.480319
9814  -121.930000      2.78000          2.693478
MSE: 0.2279
MAE: 0.3185
R2: 0.8261

In [ ]:
from pycaret.regression import evaluate_model

evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [ ]:
### y si quiero hacer solo modelos lineales?

# inicializamos el entorno de PyCaret para un problema de regresión
reg = setup(data=df_train, target='MedHouseVal', session_id=42, 
            imputation_type='iterative')


# para entrenar modelos, compararlos y obtener el mejor
best_model = compare_models(include=['lr', 'lasso', 'ridge', 'en', 'br'])
print(best_model)

# hacer predicciones sobre los datos de prueba
predictions = predict_model(best_model, data=df_test)
print(predictions.head())

# metricas en test
y_test = test_df['MedHouseVal']
y_pred = predictions['prediction_label']
print("MSE:", round(mean_squared_error(y_test, y_pred), 4))
print("MAE:", round(mean_absolute_error(y_test, y_pred), 4))
print("R2:", round(r2_score(y_test, y_pred), 4))

ElasticNet(random_state=42)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup   Latitude  \
20046  1.6812      25.0  4.192201   1.022284      1392.0  3.877437  36.060001
3024   2.5313      30.0  5.039383   1.193493      1565.0  2.679795  35.139999
15663  3.4801      52.0  3.977155   1.185877      1310.0  1.360332  37.799999
20484  5.7376      17.0  6.163636   1.020202      1705.0  3.444444  34.279999
9814   3.7250      34.0  5.492990   1.028037      1063.0  2.483645  36.619999

        Longitude  MedHouseVal  prediction_label
20046 -119.010002      0.47700          1.475659
3024  -119.459999      0.45800          1.746441
15663 -122.440002      5.00001          2.230165
20484 -118.720001      2.18600          2.413796
9814  -121.930000      2.78000          2.092212
MSE: 0.7689
MAE: 0.6784
R2: 0.4133

In [ ]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…